* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
  background: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  margin: 0;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  height: 2780px;
}

/* cтили для header */
.header {
  margin-top: 92px;
  margin-right: 24px;
  margin-bottom: 91px;
  margin-left: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 44px;
  margin-bottom: 41px;
  list-style-type: none;
  list-style-image: url(/images/list_marker.svg);
  height: 23px;
  flex-shrink: 0;
  min-width: 388px;
  margin-left: 40px;
}

.header__links-list {
  list-style-type: none;
  list-style-image: none;
}

.header__links-list_item-no-bullit {
  text-decoration: none;
}

.header__list_item-link {
  width: 148px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo__image {
  width: 148px;
  height: 105px;
  margin-right: 163px;
}

.header__list__contacts {
  margin-right: 35px;
  margin-top: 10px;
  ;
}

.header__list__contacts_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
  list-style-type: none;
}

.header__list_item-address {
  margin-left: auto;
  text-align: left;
}

.header__list__contacts_item>*:first-child {
  margin-bottom: 1px;
}

.header__list__contacts_item>*:nth-of-type(2) {
  padding-bottom: 3px;
}

.header__list__contacts_item>*:nth-of-type(3) {
  padding-bottom: 4px;
}

/* Стили для cover */

.cover__wrapper {
  width: 1100px;
  min-height: 757px;
}

.cover {
  position: relative;
  background: url(/images/lotus-flower.svg);
  width: 1082px;
  height: 744px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: repeat;
}

.title {
  position: relative;
  color: #FFF;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  z-index: 1;
}

.cover__title_word-first {
  display: flex;
  flex-direction: row;
  padding-top: 162px;
  padding-left: 47px;
  letter-spacing: 30px;

  z-index: 2;
}

.cover__title_word-first_letter {
  padding-left: 33px;
}

.cover__title_word-second_letter {
  padding-left: 26px;
}

.cover__title_word-second {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  padding-left: 329px;
  z-index: 1;
  letter-spacing: 30px;
}

.cover__title_word-third {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 6px;
  margin-right: 18px;
  letter-spacing: 30px;
  z-index: 1;
}

.cover__title_word-third_letter {
  margin-right: 24px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 953px;
  height: 52px;
  margin-top: 133px;
  margin-right: 50px;
  margin-left: 80px;
  z-index: 1;
}

.cover__description_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 633px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 2;
}

.cover__description_text_word-six {
  margin-right: 8px;
}

/* стили для кнопки */
.button {
  width: 252px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  margin-top: -13px;
  margin-right: -1px;
  background: transparent;
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
}


/* стили для lots */
.lots__wrapper {
  width: 1034px;
  padding-top: 10px;
  margin-right: 33px;
  margin-left: 33px;
}

.lots__header {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 121px;
  height: 47px;
  margin-top: 160px;
  margin-right: 876px;
  margin-left: 37px;
}

.lots__card_wrapper {
  width: 1034px;
  padding-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  gap: 25px;
  list-style: none;
}

.lots__type_movie {
  position: relative;
  background-image: none;
  width: 328px;
  height: 554px;
  background-image: url(/images/card-lot-01.svg);
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  color: #FFF;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: left;
  margin-top: 50px;
  margin-right: 35px;
  margin-bottom: 46px;
  margin-left: 39px;
  text-decoration: none;
}

.card__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: none;
    text-decoration: none;
  }

.card__text-movie {
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-top: 234px;
  text-transform: none;
  text-decoration: none;
}

.text-movie {
  padding-top: 234px;
}

.title-link {
  text-decoration-line: underline;
  z-index: 3;
}

.lots__type_book {
  position: relative;
  background-image: none;
  width: 328px;
  height: 554px;
  background-image: url(/images/card-lot-02.svg);
}

.lots__type_picture {
  position: relative;
  background-image: none;
  width: 328px;
  height: 554px;
  background-image: url(/images/card-lot-03.svg);
  z-index: 0;
}

.text-picture {
  padding-top: 84px;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 26px;
  margin-right: 803px;
  margin-left: 39px;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid black;
}

/* стили для логотипа и колонки рядом */
.about__wrapper {
  display: flex;
  flex-direction: row;
  width: 1082px;
  min-height: 546px;
  margin-top: 179px;
  margin-right: 9px;
  margin-left: 9px;
}

.about__logo__wrapper {
  width: 352px;
  min-height: 237px;
  padding-right: 45px;
  padding-left: 70px;
}

.logo-ellipse {
  background-image: url(/images/Ellipse.svg);
  width: 237px;
  min-height: 237px;
  flex-shrink: 0;
  padding: 61px 44px 62px 45px;
  background-repeat: no-repeat;
}

.logo-ellipse-white {
  width: 148px;
  height: 114px;
  padding: 61px 44px 62px 45px;

  background-image: url(/images/logo-white_1.svg);
  background-repeat: no-repeat;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: 705px;
  min-height: 449px;
  margin-top: 97px;
}

.about__title {
  position: relative;
  width: 291px;
  height: 47px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 23px;
}

.about-frame {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
  width: 693px;
  height: 115px;
  text-align: left;
  margin-left: 25px;
}

.frame-1 {
  margin-top: 27px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 182px;
  margin-right: 58px;
  margin-left: 58px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer_menu-list {
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 245px;
  height: 48px;
  padding-bottom: 138px;
  list-style-type: none;
}

.footer__social-link {
  background-repeat: no-repeat;
  width: 65%;
}

.footer__social-list-item {
  display: flex;
  flex-direction: row;
}