/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  margin: 0;
  font-family: Raleway, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  height: 2780px;
}

/* cтили для header */
.header {
  height: 105px;
  margin-top: 92px;
  margin-right: 24px;
  margin-bottom: 91px;
  margin-left: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 41px;
  margin-right: 31.81px;
  margin-bottom: 41px;
  margin-left: 34.19px;
}

.header__list_item {
  margin-right: 5px;
  margin-top: -2px;
}

.header__list_item-text {
  text-decoration: none;
}

.header__list_item-bullit {
  width: 7px;
  height: 7px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #000;
  margin-right: 9px;
  margin-left: 8px;
}

.header__list_item-link {
  width: 148px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo__image {
  width: 148px;
  height: 105px;
  margin-left: -191px;
}

.header__list__contacts {
  margin-right: 35px;
  margin-bottom: 0px;
}

.header__list__contacts_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
}

.header__list_item-address {
  margin-left: auto;
  text-align: left;
}

.header__list__contacts_item>*:first-child {
  margin-bottom: 1px;
}

.header__list__contacts_item>*:nth-of-type(2) {
  padding-bottom: 3px;
}

.header__list__contacts_item>*:nth-of-type(3) {
  padding-bottom: 4px;
}

/* Стили для cover */

.cover__wrapper {
  width: 1100px;
  height: 757px;
}

.cover {
  position: relative;
  background: url(../images/cover.jpg);
  width: 1082px;
  height: 744px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}

.cover__title_word-first {
  display: flex;
  flex-direction: row;
  padding-top: 162px;
  padding-left: 47px;
  z-index: 1;
}


.cover__title_word-first_letter-first {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 2;
}


.cover__title_word-first_letter-second {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
  z-index: 2;
}


.cover__title_word-first_letter-third {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
  padding-left: 0px;
  z-index: 2;
}

.cover__title_word-second {
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-left: 329px;
  z-index: 1;
}

.cover__title_word-second_letter-first {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 28px;
  text-transform: uppercase;
  z-index: 2;

}

.cover__title_word-second_letter-second {

  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 2;
}

.cover__title_word-second_letter-third {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 57px;
  text-transform: uppercase;
  z-index: 2;
}

.cover__title_word-second_letter-four {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 60px;
  text-transform: uppercase;
  padding-left: 3px;
  z-index: 2;
}

.cover__title_word-third {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  padding-top: 19px;
  padding-right: 33px;
  z-index: 1;
}

.cover__title_word-third_letter-first {
  color: #FFF;
  text-align: right;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 59px;
  text-transform: uppercase;
  padding-right: 0px;
  z-index: 2;
}

.cover__title_word-third_letter-second {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 28px;
  text-transform: uppercase;
  padding-right: 5px;
  z-index: 2;
}

.cover__title_word-third_letter-third {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 28px;
  text-transform: uppercase;
  padding-right: 2px;
  z-index: 2;
}

.cover__title_word-third_letter-four {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-right: 12px;
  z-index: 2;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 953px;
  height: 52px;
  margin-top: 143px;
  margin-right: 50px;
  margin-left: 80px;
  z-index: 1;
}

.cover__description_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 633px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 2;
}

.cover__description_text_word-six {
  margin-right: 8px;
}

/* стили для кнопки */
.button {
  width: 252px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  margin-top: -13px;
  margin-right: -1px;
  background: transparent;
  z-index: 1;
}

.button__name {
  width: 193px;
  height: 28px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
}

/* стили для lots */

.lots__wrapper {
  width: 1034px;
  height: 682px;
  margin-right: 33px;
  margin-left: 33px;
}

.lots__header {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 121px;
  height: 47px;
  margin-top: 160px;
  margin-right: 876px;
  margin-left: 37px;
}

.lots__card_wrapper {
  width: 1034px;
  height: 554px;
  padding-top: 30px;
  margin-right: 0px;
  margin-bottom: 54px;
  margin-left: 0px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 25px;
  list-style: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}

.lots__type_move {
  position: relative;
  background-image: none;
  width: 328px;
  height: 554px;
  background-image: url(../images/card-lot-01.svg);
}

.article {
  position: relative;
}

.card__title {
  width: 254px;
  height: 82px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  padding-top: 46px;
  margin-right: 35px;
  margin-left: 39px;
  text-align: left;
  z-index: 2;
}

.title-link {
  text-decoration: none;
  border-bottom: 2px solid white;
  z-index: 3;
}

.card__text {
  flex-shrink: 0;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}

.card__text-move {
  width: 254px;
  height: 144px;
  padding-top: 284px;
  margin-right: 35px;
  margin-left: 39px;
}


.lots__type_book {
  position: relative;
  background-image: none;
  width: 328px;
  height: 554px;
  background-image: url(../images/card-lot-02.svg);
}

.card__text-book {
  width: 254px;
  height: 360px;
  margin-top: 65px;
  margin-right: 36px;
  margin-left: 39px;
}

.lots__type_picture {
  position: relative;
  background-image: none;
  width: 328px;
  height: 554px;
  background-image: url(../images/card-lot-03.svg);
  z-index: 0;
}

.card__text-pictures {
  width: 254px;
  margin-top: 157px;
  margin-right: 34px;
  margin-left: 40px;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
  margin-right: 803px;
  margin-left: 39px;
  margin-bottom: 0px;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid black;
}


/* стили для логотипа и колонки рядом */
.about__wrapper {
  display: flex;
  flex-direction: row;
  width: 1082px;
  height: 546px;
  margin-top: 179px;
  margin-right: 9px;
  margin-left: 9px;
}

.about__logo__wrapper {
  width: 352px;
  height: 237px;
  padding-right: 45px;
  padding-left: 70px;
}

.logo-ellipse {
  background-image: url(../images/Ellipse.svg);
  width: 237px;
  height: 237px;
  flex-shrink: 0;
  padding: 61px 44px 62px 45px;
}

.logo-ellipse-white {
  width: 148px;
  height: 114px;
  padding: 61px 44px 62px 45px;

  background-image: url(../images/logo-white_1.svg);
  background-repeat: no-repeat;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: 705px;
  height: 449px;
  margin-top: 97px;
}

.about__title {
  position: relative;
  width: 291px;
  height: 47px;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 23px;
}

.about-frame1_text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
  width: 693px;
  height: 115px;
  text-align: left;
  margin-left: 25px;
}

.about-frame2_text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
  width: 693px;
  height: 161px;
  text-align: left;
  align-self: self-start;
  margin-top: 24px;
  margin-left: 25px;
}

.footer_wrapper {
  width: 988px;
  height: 97px;
  margin-top: 185px;
  margin-right: 58px;
  margin-left: 58px;
  margin-bottom: 89px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 245px;
  height: 48px;
  padding-bottom: 138px;
}

.footer__social-link {
  background-repeat: no-repeat;
  width: 65%;
}

.footer__social-list-item {
  display: flex;
  flex-direction: row;
}